---
http_interactions:
- request:
    method: get
    uri: http://words.bighugelabs.com/api/2/<API_KEY>/normal/json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"adjective":{"ant":["abnormal","paranormal"],"rel":["sane","standard"],"sim":["average","mean","median","modal","natural","perpendicular","regular","typical"]},"noun":{"syn":["convention","pattern","rule","formula","practice"]}}'
  recorded_at: Wed, 25 Jul 2012 10:32:52 GMT
recorded_with: VCR 2.2.4
