---
http_interactions:
- request:
    method: get
    uri: http://words.bighugelabs.com/api/2/<API_KEY>/word/json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: US-ASCII
      string: ! '{"noun":{"syn":["news","intelligence","tidings","discussion","give-and-take","parole","word
        of honor","Son","Word","Logos","password","watchword","countersign","Bible","Christian
        Bible","Book","Good Book","Holy Scripture","Holy Writ","Scripture","Word of
        God","arcanum","computer memory unit","hypostasis","hypostasis of Christ","info","information","language","language
        unit","linguistic unit","oral communication","order","positive identification","promise","religious
        text","religious writing","sacred text","sacred writing","secret","speech","speech
        communication","spoken communication","spoken language","statement","voice
        communication"]},"verb":{"syn":["give voice","formulate","phrase","articulate","evince","express","show"]}}'
  recorded_at: Sun, 22 Jul 2012 17:29:10 GMT
recorded_with: VCR 2.2.0
